body {
    background-image: url(../../assets/images/pexels-photo-753416.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.gem-pic {
    height: 75%;
    width: 75%;

}
p {
    font-family: 'News Cycle', sans-serif;
    font-size: 18px;
}
.panel {
    text-align: center;
    font-family: 'News Cycle', sans-serif;
}

.panel-heading {
    font-family: 'Domine', serif;
    font-size: 16px;
}

ul {
    list-style-type: none;
    font-family: 'News Cycle', sans-serif;
}

h1 {
    color: white;
    font-family: 'Domine', serif;
}
 h2 {
     font-family: 'Domine', serif;
 }

 h3 {
     font-size: 20px;
 }

 li {
     font-size: 20px;
 }


footer {
    color: white;
    text-align: center;
}
/* font-family: 'Domine', serif;
font-family: 'Open Sans Condensed', sans-serif; */