body {
    background-image: url(../../assets/images/pexels-photo-753416.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.gems {
    height: 75%;
    width: 75%;

}
btn {
    
}

.panel {
    text-align: center;
}

ul {
    list-style-type: none;
}

h1 {
    color: white;
}



footer {
    color: white;
    text-align: center;
}